---
// import Head from "@components/Head.astro";
// import Header from "@components/Header.astro";
// import Footer from "@components/Footer.astro";
// import Pagefind from "@components/PageFind.astro";
import BackToTop from "@components/BackToTop.astro";
import { SITE } from "@consts";

import "../styles/global.css";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- <Head title={`${title} | ${SITE.TITLE}`} description={description} /> -->
  </head>
  <body>
    <noscript>
      <style>
        .animate{
          opacity:1;
          translate: var(--tw-translate-x) calc(var(--spacing) * 0);
        }
      </style>
    </noscript>
    <!-- <Header /> -->
    <main>
      <h1>Antonio Valentini</h1>
      <slot />
    </main>
    <div style="margin: 1rem 0;">
        <BackToTop />
    </div>
    <!-- <Footer /> -->
    <!-- <Pagefind /> -->
  </body>
</html>
